<div class="container_big-card">
    
    <div  class="big-card_photo">
        <img width="400px" src="https://i.ytimg.com/vi/kypetXduCJk/maxresdefault.jpg" alt="Foto default">
    </div>
    <div class="big-card_title">
       <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card_description">
        <a href="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis facere aliquam, officia ea non, ullam eligendi ut odit libero praesentium aperiam dicta natus hic officiis consequuntur? Illo et officiis odit! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae vel quasi repellat necessitatibus voluptates dolore? Nostrum, obcaecati sunt fuga delectus beatae ut deleniti quaerat deserunt numquam consectetur perferendis dolorem neque? </p>
        </a>
    </div>

</div>